extends base

block head
    title= movie_object.title + ' - Fossflix'
    link(rel='stylesheet', href='/css/edit.css')

block content
    style.
        .flex-column {
            padding-bottom: 40px;
        }
        .button {
            width: 20%;
        }
    .flex-column.al-cent
        video(controls
            width='1280'
            height='720')
            source(src='/movie/' + movie_object._id,)
        h2= movie_object.title
        if fossflix_user.role == 'marketing'
            p Likes: #{movie_object.likes.length}
            p Views: #{movie_object.views.length}

            form#commentForm(method="post")
                .input-group
                    label(for="comment") Comment:
                    textarea(name="comment", required)
                button(type="submit") Submit Comment

            script.
                document.getElementById('commentForm').addEventListener('submit', function(e) {
                    e.preventDefault();
                    const movieId = '#{movie_object._id}';
                    const comment = this.querySelector('[name="comment"]').value;
                    fetch(`/api/movies/comment/${movieId}`, {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ comment }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message);
                        location.reload(); // Reload to see the new comment - you might want to update the UI instead
                    })
                    .catch(error => console.error('Error posting comment:', error));
                });
                
        h3= movie_object.description
        //- Determine if the movie is liked by the current user
        - var isLiked = movie_object.likes && movie_object.likes.includes(fossflix_user.uid)
        //- Like button with dynamic text based on whether the movie is liked
        button#like-btn.button(onclick=`_toggle_like('${movie_object._id}')`) #{isLiked ? 'Unlike' : 'Like'}



    script.
        // Calling _populate_movies_div if needed for this page or for consistency
        document.addEventListener('DOMContentLoaded', function() {
            _populate_movies_div(document.getElementById('movie_list'));
        });
